[Unit]
After=weave.service
Description=redis
Documentation=https://e4hitech.com/

[Service]
TimeoutStartSec=0

Environment=NAME=redis
ExecStartPre=-/usr/bin/docker rm -f $NAME
ExecStartPre=/bin/bash -c 'eval /usr/local/bin/weave env;\
                           /usr/bin/docker run -d --name $NAME \
                                           -v redis-data:/data \
                                           -v /etc/localtime:/etc/localtime \
                                           {{ images["redis"]["image"] }}:{{ images["redis"]["version"] }}'

ExecStart=/usr/bin/docker attach $NAME
Restart=on-failure

ExecStop=/usr/bin/docker stop $NAME

[Install]
WantedBy=multi-user.target
